# Vendor libraries - exclude from language stats
**/static/css/bootstrap*.css linguist-vendored
**/static/css/bootstrap*.min.css linguist-vendored
**/static/js/bootstrap*.js linguist-vendored
**/static/js/jquery*.js linguist-vendored
**/static/ckeditor/** linguist-vendored
**/static/vendor/** linguist-vendored
**/static/assets/** linguist-vendored

# Catch common minified files anywhere
*.min.css linguist-vendored
*.min.js linguist-vendored
